@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
}

body {
  font-family: "Instrument Sans";
}

button,
a {
  cursor: pointer;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
